.pio
.vscode
.env
__pycache__
env
cuckoo/
.env/*
*.pyc
src_docs/_build/*
.DS_Store
*.map

ui/.env.local
ui/.env.*.local
ui/npm-debug.log*
ui/node_modules
ui/dist
ui/coverage
ui/mock-server/firmware
ui/package-lock.json
