name: PlatformIO CI

on: 
  pull_request:
  push:
    branches: 
      - dev

jobs:
  pio-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v4

      - name: Checkout UI
        run: |
          echo "Checkout UI"
          git clone https://github.com/mp-se/gravitymon-ui gravitymon-ui 
          cp gravitymon-ui/dist/assets/style.css.gz html/app.css.gz
          cp gravitymon-ui/dist/assets/index.js.gz html/app.js.gz
        
      - name: Setup PlatformIO
        uses: n-vr/setup-platformio-action@v1.0.1    

      - name: PlatformIO Run
        uses: karniv00l/platformio-run-action@v1
        with:
          environments: "gravity-8266,gravity-32c3_mini,gravity-32s3_mini,gravity-32s2_mini,gravity-32c3_zero,gravity-32c3_supermini,gravity-olimex_esp32c3_devkit_lipo"
          # environments: "gravity-8266,gravity-32c3_mini,gravity-32s3_mini,gravity-32s2_mini,gravity-32c3_zero,gravity-32c3_supermini,gravity-tenstar_esp32c3_super_mini,gravity-olimex_esp32c3_devkit_lipo"
          # environments: "gravity-8266,gravity-32c3_mini,gravity-32s3_mini,gravity-32s3_mini,gravity-32c3_zero,gravity-tenstar_esp32c3_super_mini,gravity-olimex_esp32c3_devkit_lipo"
          # environments: "gravity-release,gravity32c3-release,gravity32s2-release,gravity32s3-release,gravity-olimex_esp32c3_devkit_lipo,gravity-tenstar_esp32c3_super_mini"
          # environments: "gravity-release,gravity32-release,gravity32c3-release,gravity32s2-release,gravity32s3-release,gravity32lite-release,gravity-olimex_esp32c3_devkit_lipo,gravity-tenstar_esp32c3_super_mini"
          # environments: "gravity-release,gravity32-release,gravity32c3-release,gravity32s2-release,gravity32s3-release,gravity32lite-release"
          jobs: 6
          silent: false
          verbose: true
          disable-auto-clean: false
    
      - uses: EndBug/add-and-commit@v9 # You can change this to use a specific version. https://github.com/marketplace/actions/add-commit
        with:
          add: 'bin html'
          author_name: GitHub Action
          author_email: mp-se@noreply.github.com
          default_author: github_actor
          message: 'GitHub Action Build'
          pathspec_error_handling: ignore
