name: pre-commit

on:
  pull_request:
  push:
    branches: 
      - master
      - dev
      - '2.0.0-fwk'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - name: clang format support
      run: |
        sudo apt update
        sudo apt install clang-format cppcheck
    - uses: pre-commit/action@v3.0.1
